<!DOCTYPE html>
<html>
  <head>
    <title>Gotta Catch Em All</title>
    <link rel="stylesheet" href="/css/pokestyle.css">
  </head>
  <body>
    <%= yield %>
    <br>
    <br>
    <div class="footer">
      <a href="/pokemons">All Pokemons</a><br>
      <a href="/trainers">All Trainers</a><br>
      <a href="/">Back to Home</a>
    </div>
  </body>
</html>
