<!DOCTYPE html>
<html>
  <head>
    <title>Gotta Catch Em All</title>
    <link rel="stylesheet" href="/css/pokestyle.css">
  </head>
  <body>
    <div class="sidebar">
      <br>
    <a href="/teams">All Teams</a>
    <a href="/trainers">All Trainers</a>
    <a href="/pokemons">All Pokemons</a>
    </div>
    <div class="container">


    <%= yield %>
    </div>


  </body>
</html>
