@font-face {
  font-family: "Pokemon";
  src: url(../fonts/PokemonSolid.ttf) format("truetype");
}

a, p, h2, h3 {
  color: rgb(215, 215, 0);
  text-shadow: rgb(35, 75, 180) 3px 3px 1px;
  -webkit-text-stroke: 2px rgb(55, 95, 200);
  text-decoration: none;
  border-radius: 100px;
}

h1 {
  font-size: 150%;
}

body {
  background-image: url(https://i.imgur.com/eVcYPSa.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Pokemon", monospace;
  letter-spacing: .25em;
  font-size: 200%;
  display: flex;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(124, 127, 159, 0.7);
  padding: 0 40px;
  margin: 0 auto;
  width: 70%;
  min-height: 100vh;
}
/*
a {
  padding: 10px;
}*/

a:hover {
  padding: 10px;
  animation: pulse 1s infinite;
}
/*.containareon, h1 {
  box-sizing: border-box;
  padding: 10px;
  width: 50%;
  margin: auto;
  background-color: rgba(255, 255, 255, .8);
  text-align: center;
  justify-content: center;
}*/


.pokemon{
  min-width: 375px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 40px;
  box-sizing: border-box;
  border: 15px inset;
  border-radius: 100px;
  border-top-color: rgba(255, 0, 0, .5);
  border-left-color: rgba(255, 0, 0, .5);
  border-right-color: rgba(225, 225, 225, .5);
  border-bottom-color: rgba(225, 225, 225, .5);
}

@keyframes pulse {
  0% {
    text-shadow: 4px 4px 3px rgba(255, 255, 255, .3);
    background-color: rgba(0, 0, 0, .1);
  }
  25% {
    text-shadow: 4px 4px 3px rgba(255, 0, 0, .3);
    background-color: rgba(0, 0, 255, .1);
  }
  50% {
    text-shadow: 4px 4px 3px rgba(55, 55, 55, .3);
    background-color: rgba(255, 0, 0, .1);
  }
  75% {
    text-shadow: 4px 4px 3px rgba(255, 0, 0, .3);
    background-color: rgba(0, 0, 0, .1);
  }
}

.poke_img {
  width: 200px;
}

.train_img {
  width: 100px;
}

.team_img {
  height: 100px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list {
  display: flex;
  flex-direction: column;
}
.teams {
  display: flex;
  justify-content: space-between;
}

.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-item {
  align-self: flex-start;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: rgba(255, 255, 255, 1);*/
  box-sizing: border-box;
  padding: 20px;
  width: 25%;
  margin: 0;
  font-size: 18px;
}

.sidebar a{
  color: rgb(0, 0, 0);
  text-shadow: rgb(35, 75, 180) 1px 1px 1px;
  -webkit-text-stroke: 1px rgb(55, 95, 200);
  text-decoration: none;
  border-radius: 100px;
}

.card {
  background-color: #a3ccc7;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  border: 5px solid #375fc8;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  font-size: 20px;
}
.card p{
  color: rgb(0, 0, 0);
  text-shadow: none;
  -webkit-text-stroke: 0px rgb(55, 95, 200);
  text-decoration: none;
  border-radius: 100px;

}
.card a{
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-shadow: none;
  -webkit-text-stroke: 1px rgb(55, 95, 200);
  text-decoration: none;
  border-radius: 100px;
}

.homeimage {
  width: 400px;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homepage p {
  text-align: center;
}
