<h2>Create New Trainer</h2>


<form action="/trainers" method="post">
  <div class = "flex">
    <div class="flex-item">
    <label for="name">Trainer Name:</label>
    <input type="text" name="trainer[name]"><br>
    </div>
    <div class="flex-item">
    <label for="level">Level:</label>
    <input type="text" name="trainer[level]"><br>
  </div>
  <div class="flex-item">
    <label for="img_url">Photo:</label>
    <input type="text" name="trainer[img_url]">
    <div class = "flex-item">
      <label for="team_id">Team:</label>
      <select name = "trainer[team_id]">
        <% @teams.each do |team| %>
        <option value="<%= team.id %>"><%= team.name %></option>
        <% end %>
      </select>
    </div>
    <input type="submit">
</div>
</form>
