<h2>Create New Trainer</h2>

<form action="/trainers" method="post">
    <label for="name">Trainer Name:</label>
    <input type="text" name="trainer[name]"><br>
    <label for="level">Level:</label>
    <input type="text" name="trainer[level]"><br>
    <label for="img_url">Photo:</label>
    <input type="text" name="trainer[img_url]">

    <br><br>
    <input type="submit">

</form>
